@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
@import url(https://fonts.googleapis.com/css?family=Arya);

body {
  background: url("../imagenes/loginBackground.png") repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
 }

 .title{
  	color: white;
  	font-size: 70px;
  	letter-spacing: 5px;
	font-family: 'Arya', sans-serif;
	font-weight: 100;
    text-shadow: 0 7px rgba(0,0,0,0.1);
    text-align: center;
	padding: 0 8px;
    margin-top: 50px;  
 }

.button{
  display: block;
  height: 30px;
  width: 170px;
  background: #3BFEA0;
  border: 2px solid #fff;
}

.button-submit{
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #3BFEA0;
}

.button-submit:hover{
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #23EB85;
}

.description{
    text-align: justify;
    color: white;
    text-shadow: 0 1px darkslategray;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 70px;
}